

* {
    box-sizing: border-box;
}

.header {
    background-color: #000;
    color: #fff;
}

.header .wrapper {
    display: flex;
    max-width: 940px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

#hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(70%);
    background-image: url(../images/hands-typing.jpg);
    background-size: cover;
    background-position: center;

    
}

#hero h1 {
    margin: 0;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1em 1.5em;
    text-align: center;
}

#about-me .wrapper {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}




#services {
    background-color: #fafafa
}

#services .wrapper {
    margin: 0 auto;
    max-width: 940px;
}

#services .wrapper > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    padding: 1em 3em 3em;
}

#services h2 {
    text-align: center;
    margin: auto;
    padding: 1em;
}


#services article {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
}

#services .btn {
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    margin-top: auto;
    background-color: #000;
    padding: 1em;
    border-radius: 5px;
    align-self: flex-start;
}

#services .btn:hover {
    background-color: #fff;
    color: #000;
}





















